<head>

</head>

<body>
  <h1>My tasks</h1>
<p>Here are my current tasks:</p>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %>
      task completed? <%= task.completed? %>
      <%= link_to "delete this task", destroy_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" }
      %>
    </li>
  <% end %>
</ul>

</body>

